@import './common/index';
@import './components/index';

body {
	background: url('./../images/bg-desktop-light.jpg') no-repeat 0 0/100%
		250px;
	background-color: $light-theme;
	font-family: $font;
}

@media (width < 1024px) {
	body {
		background-size: auto 250px;
		background-position: 50% 0;
	}
}

@media (width < 375px) {
	body {
		background-image: url('./../images/bg-mobile-light.jpg');
		background-size: auto 250px;
	}
}

.todo {
	@extend %flex-center;
	&__block {
		margin-top: 30px;
		max-width: 700px;
		padding: 0 20px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		color: white;
		letter-spacing: 1.05rem;
	}

	&__theme {
		background: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__items {
		border-radius: 10px;
		background: white;
		box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.279);
	}

	&__list {
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0;
		> li + li {
			border-top: 1px solid rgb(204, 204, 204);
		}
	}

	&__items-footer {
		column-gap: 20px;
		border-top: 1px solid rgb(204, 204, 204);
		display: flex;
		justify-content: space-between;
		padding: 10px 15px;
		align-items: center;
		color: rgb(86, 86, 86);
	}

	&__items-count {
		font-weight: 500;
	}

	&__items-status {
		button {
			border: none;
			background: none;
			cursor: pointer;
		}
		button.selected {
			color: #5e5df0;
			font-weight: 600;
		}
	}

	&__items-clear {
		background: #5e5df0;
		border: none;
		color: white;
		padding: 5px 10px;
		border-radius: 5px;
		&:hover {
			background: #4545f0;
		}
	}

	&__footer {
		text-align: center;
		color: gray;
		margin: 20px 0;
	}
}

@media (width < 768px) {
	.todo {
		&__items-footer {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			row-gap: 20px;
		}
		&__items-count {
			margin-top: 10px;
			margin-bottom: 0;
		}
		&__items-status {
		}
	}
}

body.dark {
	background-color: rgb(28, 30, 40);
	.todo {
		&__block {
		}

		&__header {
		}

		&__title {
		}

		&__theme {
		}

		&__field {
			background-color: $dark-theme;
		}

		&__add {
			background: $dark-theme;
			color: $text-color-dark;
			&:hover {
				background: #9d45f0;
			}
		}

		&__entry {
			background-color: $dark-theme;
			color: $text-color-dark;
		}

		&__items {
			border-radius: 20px;
			background: $dark-theme;
		}

		&__list {
		}

		&__item {
		}

		&__item-check {
			label {
				background: $dark-theme;
				border: 1px solid $light-theme;
				&::before {
					color: $text-color-dark;
				}
			}
			input:checked + label {
				&::before {
					border-right: 2px solid $text-color-dark;
					border-top: 2px solid $text-color-dark;
				}
			}
		}

		&__item-text {
			color: $text-color-dark;
		}

		&__item-delete {
			span {
				background: $light-theme;
			}
		}

		&__items-footer {
		}

		&__items-count {
			color: $text-color-dark;
		}

		&__items-status {
			button {
				color: $text-color-dark;
			}
			button.selected {
				color: #e6b0ff;
			}
		}

		&__items-clear {
		}

		&__footer {
		}
	}
	.selected {
	}
}
