// Цвета
$dark-theme: hsl(232, 20%, 22%);
$light-theme: hsl(0, 0%, 98%);

// Шрифты
$font: 'Wix Madefor Display', sans-serif;
$text-color-white: hsl(240, 9%, 34%);
$text-color-dark: rgb(230, 230, 230);
